.navbar-brand {
    padding: 0px;
}
.navbar-brand img {
    height: auto;
    padding: 20px;
    width: 15%;
}
.container {
    height: 90%;
}
.title-cliente{
    margin-top: 50px;
    margin-bottom: 20px;
}
.titulo-dato-cliente{
    background-color: #2DCCCD;
    height: 25px;
}

.dato-cliente{
    background-color: #E9E9E9;
    height: 25px;
}


.mt-5 {
    margin-top: 5px !important;
}

.mt-10 {
    margin-top: 10px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-5 {
    margin-bottom: 5px !important;
}

#nuevoMovContainer {
    padding-bottom: 25px;
    padding-top: 25px;
}
#botonLogin {
    margin-bottom: 10px;
}
#cardLogin {
    margin-top: 30px;
}

.card-img-top{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
