<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/titanium-currency/titanium-currency.html">
Access-Control-Allow-Origin: *
<dom-module id="gestor-clientes">
    <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
              crossorigin="anonymous">
        <link href="/css/general.css" rel="stylesheet" type="text/css">
        <style>
            :host {
                display: block;
            }
        </style>
        <div class="container" hidden$={{!mensaje}}>
            <div class="container">
                <div class="container title-cliente">
                    <div class="row mx-md-n5">
                        <div class="col-sm-8 px-md-1">
                            Datos del cliente
                        </div>
                        <div class="col-sm-4 px-md-1">
                        </div>
                        <input type="hidden" id="idCliente" value="{{numero::input}}">
                    </div>
                </div>
                <tipo-cambio></tipo-cambio>
                <div class="container">
                    <div class="row mx-md-n5">
                        <div class="col px-md-1">
                            <div class="p-3 border bg-light">Id Cliente: [[cliente.codCliente]]</div>
                        </div>
                        <div class="col px-md-1">
                            <div class="p-3 border bg-light">Nombre: [[cliente.nombre]]</div>
                        </div>
                        <div class="col px-md-1">
                            <div class="p-3 border bg-light">Apellido Paterno: [[cliente.apellidoPaterno]]</div>
                        </div>
                        <div class="col px-md-1">
                            <div class="p-3 border bg-light">Apellido Materno: [[cliente.apellidoMaterno]]</div>
                        </div>
                    </div>
                </div>
                <hr>
                <nuevo-movimiento numero="{{numero}}"></nuevo-movimiento>

                <div class="row">
                </div>
                <div class="row">
                </div>
                <movimiento-cliente movimientos="{{movimientos}}"></movimiento-cliente>
            </div>

            <div class="row" hidden$={{!mensaje}}>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-primary btn-sm btn-block" on-click="obtenerMovimientos" type="button" name="button">
                        Consultar Movimientos
                    </button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-primary btn-sm btn-block" on-click="obtenerMovimientos" type="button" name="button">
                        Salir
                    </button>
                </div>
            </div>
        </div>


        <iron-ajax
            url="http://localhost:2020/Movimientos"
            id="doMov"
            content-type="application/json"
            crossDomain:true
            dataType:'jsonp'
            method="POST"
            handle-as="json"
            headers="Access-Control-Allow-Headers: *"
            on-response="manageAJAXResponse"
            on-error="showError">
        </iron-ajax>

    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class GestorClientes extends Polymer.Element {
            static get is() {return 'gestor-clientes';}
            static get properties() {
                return {
                    movimientos: {
                        type: Array,
                        value: null
                    },numero:{
                        type:Number,
                        value: 0,
                        notify: true
                    },
                    numCliente:{
                    type:Number,
                        value: 1
                    },
                    mensaje: {
                        type: Boolean,
                        notify: false
                    }
                };
            }
            obtenerMovimientos() {
                var id =this.numero
                this.movimientos = null
                console.log('Aqui el ID--------> ' +id);
                var movimientosData = {"clienteId":id};
                this.$.doMov.body = JSON.stringify(movimientosData);
                this.$.doMov.generateRequest();
            }
            manageAJAXResponse(data) {
                //console.log("Respuesta recibida del servidor");
                console.log(data.detail.response);
                if(data.detail.response.length ===0){
                    alert("No tiene movimientos por el momento")
                }else{
                    this.amovimientos = false
                    this.movimientos = data.detail.response
                }

            }

            showError(error) {
                console.log("Ocurrio un error");
                alert("No fue posible recuperar los movimientos");
                console.log(error);
            }
        }
        window.customElements.define(GestorClientes.is, GestorClientes);
    </script>
</dom-module>
