<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="text" class="form-control" value="{{nombre::input}}" id="inputNombre"
       aria-describedby="nombreHelp" placeholder="Ingrese su Nombre" required>
</body>
</html>
