<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>Administrador de Clientes</title>
    <meta name="description" content="demopolymer description">
    <!-- bootstrap-->
    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="/manifest.json">

    <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>

      <link href="/css/general.css" rel="stylesheet" type="text/css">

      <link rel="import" href="/src/gestor-clientes/gestor-clientes.html">
      <link rel="import" href="/src/movimiento-eliminar/movimiento-cliente.html">
      <link rel="import" href="/src/movimiento-eliminar/nuevo-movimiento.html">
      <link rel="import" href="/src/login-app/login-app.html">
      <link rel="import" href="/src/usuarios/alta-usuario.html">
      <link rel="import" href="/src/tipo-cambio/tipo-cambio.html">

  </head>
  <body>
  <span id="browser-sync-binding"></span>
      <nav class="navbar navbar-dark" style="background-color: #072146;">
          <div class="navbar-header">
              <a class="navbar-brand" href="#">
              <img class="img-responsive" src="/img/BbvaOportunidadesDerecha.png">
              </a>
          </div>
      </nav>

        <!-- <demopolymer-app></demopolymer-app>-->
        <div class="container">
          <div class="row">
              <login-app></login-app>
             <!--<mi-visor></mi-visor>-->
              <!--<input-two-app value_prop='{{value_prop}}'></input-two-app>-->
          </div>
        </div>
      <!-- As a heading -->
      <nav class="navbar navbar-dark" style="background-color: #072146;">
          <span class="navbar-brand mb-0 h1"></span>
      </nav>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
