<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/titanium-currency/titanium-currency.html">
Access-Control-Allow-Origin: *
<dom-module id="login-app">
    <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="/css/general.css" rel="stylesheet" type="text/css">
        <style>
            :host {
                display: block;
            }
        </style>

        <div class="container" hidden$={{logado}}>
            <div class="row justify-content-center h-100">
                <div class="col-sm-4 align-self-center text-center" id="cardLogin">
                    <div class="card shadow" style="width: 22rem;">
                        <img class="card-img-top" src="/img/password.png" alt="Card image cap">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <h3> Inicio de Sesión</h3>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" value="{{email::input}}" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" placeholder="Ingrese su email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" value="{{password::input}}" id="exampleInputPassword1" placeholder="Ingrese su password">
                            </div>
                            <div class="row">
                                <button class="btn btn-primary btn-lg btn-block" on-click="login" type="button" id="botonLogin" name="button">Login</button>
                            </div>
                            <div class="row">
                                <button class="btn btn-secondary btn-lg btn-block" on-click="registro" type="button" name="buttonReg">Registrarse</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <gestor-clientes mensaje='{{profesion}}'  cliente="{{cliente}}" numero="[[numId]]"></gestor-clientes>
        <alta-usuario registrar="{{altaU}}" login="{{logado}}"></alta-usuario>

        <iron-ajax
            id="doLogin"
            url="http://localhost:2020/Login"
            content-type="application/json"
            crossDomain:true
            dataType:'jsonp'
            method="POST"
            handle-as="json"
            headers="Access-Control-Allow-Headers: *"
            on-response="manageAJAXResponseLogin"
            on-error="showErrorLogin">
        </iron-ajax>

    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class LoginApp extends Polymer.Element {
            static get is() { return 'login-app'; }
            static get properties() {
                return {
                    logado: {
                        type: Boolean,
                        value:false,
                    },
                    cliente: {
                        type: Object,
                        notify: true
                    },
                    numId:{
                        type: Number,
                        value:1,
                        notify: true
                    },
                    altaU:{
                        type: Boolean,
                        value:false
                    },
                    gestorLogin:{
                        type: Boolean,
                        value:false
                    },
                    amovimientos: {
                        type:Boolean,
                        notify: true
                    },
                    profesion: {
                        type: Boolean,
                        value: false
                    }
                };
            }
            login() {
                var loginData = {
                    "email":this.email,
                    "password":this.password
                };
                //console.log(loginData);
                this.$.doLogin.body = JSON.stringify(loginData);
                this.$.doLogin.generateRequest();
                console.log("Petición enviada");
            }
            manageAJAXResponseLogin(data) {
                console.log("Respuesta recibida del servidor")
                console.log(data.detail.response)
                this.cliente = data.detail.response
                this.numId = this.cliente.codCliente
                this.profesion = true
                this.logado = true
            }
            showErrorLogin(error) {
                console.log("Ocurrio un error");
                alert("Datos ingresados incorrectos, por favor valide");
                console.log(error);
            }
            registro(){
                this.logado = true
                this.altaU = true
            }
        }
        window.customElements.define(LoginApp.is, LoginApp);
    </script>
</dom-module>
