<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
Access-Control-Allow-Origin: *
<dom-module id="movimiento-cliente">
    <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
              crossorigin="anonymous">
        <style>
            :host {
                display: block;
            }
        </style>
        <div class="row mt-10 ">
<!--            <h5>Lista de movimientos</h5>-->
            <table class="table table-hover">
                <tbody>
                    <template is="dom-repeat" items="{{movimientos}}">
                        <tr>
                            <td>
                                [[item.fecha]]
                            </td>
                            <td>
                                [[item.idMovimiento]]
                            </td>
                            <td>
                                [[item.tipo]]
                            </td>
                            <td>
                                [[item.descripcion]]
                            </td>
                            <td>
                                <titanium-currency value="[[item.importe]]" decimal-places="2" thousands-separators
                                                   accounting-format></titanium-currency>
                            </td>
                            <td>
                                <button class="btn btn btn-danger btn-sm btn-block" id="[[item.idMovimiento]]"
                                        value="[[item._id.$oid]]"  type="button" name="button" on-click="delete">
                                    Borrar Movimiento
                                </button>
                            </td>
                        </tr>
                    </template>

                </tbody>
            </table>
        </div>
        <!--<nuevo-movimiento muestraAltaMovimeinto="{{muestraAltaMovimiento}}"></nuevo-movimiento>-->

        <iron-ajax
                url="http://localhost:2020/Eliminar"
                id="doEliminar"
                content-type="application/json"
                crossDomain:true
                dataType:'jsonp'
            method="POST"
        handle-as="json"
        headers="Access-Control-Allow-Headers: *"
        on-response="manageAJAXResponseEliminar"
        on-error="showErrorEliminar">
        </iron-ajax>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class EliminarMovimiento extends Polymer.Element {
            static get is() {
                return 'movimiento-cliente';
            }

            static get properties() {
                return {
                    movimientos: {
                        type: Array,
                        notify: true
                    },
                    cliente:{
                        type:Object,
                        notify:true
                    },
                    elemento:{
                        type:Object
                    }
                };
            }

            delete(e) {
                var mensaje = confirm("¿Deseas eliminar el Movimiento?");
                if (mensaje) {
                    this.elemento =  e.composedPath()[0]
                    var id = e.composedPath()[0].value
                    var movimientoData = {"movimientoId": id};
                    this.$.doEliminar.body = JSON.stringify(movimientoData);
                    this.$.doEliminar.generateRequest();
                }
                else {
                    //No Borrar
                }
            }

            manageAJAXResponseEliminar(data) {
                console.log("Respuesta recibida del servidor al Eliminar");
                console.log(data.detail.response);
                this.cliente = data.detail.response
                var idElemento = '"'+this.cliente._id.$oid+'"'
                for (var indice in this.movimientos) {
                    if(this.movimientos[indice]._id.$oid === this.cliente._id.$oid){
                        console.log("Id a Borrar: "+this.cliente._id.$oid)
                        deleteRow(this.elemento)
                        //delete this.movimientos[indice]
                        //this.movimientos.splice(indice,1);
                    }

                }
            }
            showErrorEliminar(error) {
                console.log("Ocurrio un error");
                alert("No fue posible eliminar el movimiento");
                console.log(error);
            }
        }
       function deleteRow(btn) {
            var row = btn.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }

        window.customElements.define(EliminarMovimiento.is, EliminarMovimiento);
    </script>
</dom-module>
