<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/titanium-currency/titanium-currency.html">
Access-Control-Allow-Origin: *
<dom-module id="nuevo-movimiento" numero={{numero}} movimientos="{{movimientos}}">
    <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
              crossorigin="anonymous">
        <link href="/css/general.css" rel="stylesheet" type="text/css">
        <style>
            :host {
                display: block;
            }
        </style>

        <div class="container" id="nuevoMovContainer">
            <div class="container">
                <div class="row mx-md-n5">
                    <div class="col px-md-1">
                        <div class="p-3 border bg-light">
                            <input type="text" class="form-control" value="{{paramTipo::input}}" id="inputTipo"
                                   aria-describedby="Help" placeholder="Tipo de movimiento">
                        </div>
                    </div>
                    <div class="col px-md-1">
                        <div class="p-3 border bg-light">
                            <input type="text" class="form-control" value="{{paramDesc::input}}" id="inputDescripcion"
                                   aria-describedby="inputDescHelp" placeholder="Ingrese la descripción">
                        </div>
                    </div>
                    <div class="col px-md-1">
                        <div class="p-3 border bg-light">
                            <input type="text" class="form-control" value="{{paramImporte::input}}" id="inputImporte"
                                                                aria-describedby="inputImporteoHelp" placeholder="Importe">
                        </div>
                    </div>
                    <div class="col px-md-1">
                        <div class="p-3 border bg-light">
                            <button class="btn btn-outline-success" on-click="altaMomiviento" type="button" name="button">
                            Registrar Movimiento
                            </button>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <iron-ajax
                id="doRegistro"
                url="http://localhost:2020/AltaMovimientos"
                content-type="application/json"
                crossDomain:true
                dataType:'jsonp'
        method="POST"
        loading="{{cargando}}"
        handle-as="json"
        headers="Access-Control-Allow-Headers: *"
        on-response="manageAJAXResponseAltaMov"
        on-error="showErrorAltaMov">
        </iron-ajax>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class AltaMovimiento extends Polymer.Element {

            static get is() {
                return 'nuevo-movimiento';
            }
            static get properties() {
                return {
                    logado:{
                        type: Boolean,
                        value:false,
                        notify: true
                    },
                    mustraNuevoMov:{
                        type:Boolean,
                        notify:true
                    },
                    numero: {
                        type: Number,
                        notify: true,
                    },
                    paramTipo : {
                        type: String,
                        value:'',
                        notify: true
                    },
                    paramImporte : {
                        type: Number,
                        value:'',
                        notify: true
                    },
                    paramDesc : {
                        type: String,
                        value:'',
                        notify: true
                    },
                    movimientos: {
                        type: Array,
                        notify: true,
                        value:[]
                    }
                };
            }
            altaMomiviento(e) {
                //var id = e.composedPath()[0].value
                var movimientoData = {
                    "clienteId": this.numero,
                    "tipo":this.paramTipo,
                    "importe":this.paramImporte,
                    "descripcion":this.paramDesc
                };
                console.log('Antes del Envio: '+this.numero);
                this.$.doRegistro.body = JSON.stringify(movimientoData);
                this.$.doRegistro.generateRequest();
                console.log("Petición alta cliente enviada");

            }
            manageAJAXResponseAltaMov(data) {
                console.log("Respuesta recibida del servidor")
                console.log(data.detail.response)
                //this.movimientos.push(data.detail.response)
                this.movimientos[0] = data.detail.response
                this.paramTipo = ''
                this.paramImporte = ''
                this.paramDesc = ''

                alert("El Movimiento se dio de alta correctamente")
            }
            showErrorAltaMov(error) {
                console.log("Ocurrio un error")
                alert("Datos ingresados incorrectos, por favor valide")
                console.log(error)
            }
        }
        window.customElements.define(AltaMovimiento.is, AltaMovimiento);
    </script>
</dom-module>

