<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../input-three-app/input-three-app.html">
<dom-module id="input-two-app">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <span>[[label_prop]]</span>
        <br> Input Two
        <input type="text" value='{{value_prop::input}}'>
        <br>
        <input-three-app mensaje='[[value_prop]]'></input-three-app>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class InputTwoApp extends Polymer.Element {
            static get is() { return 'input-two-app'; }
            static get properties() {
                return {
                    label_prop: {
                        type: String,
                        value: ''
                    },
                    value_prop: {
                        type: String,
                        value: 'Hola'
                    }
                };
            }
        }

        window.customElements.define(InputTwoApp.is, InputTwoApp);
    </script>
</dom-module>
