<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/titanium-currency/titanium-currency.html">
Access-Control-Allow-Origin: *
<dom-module id="tipo-cambio">
    <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
              crossorigin="anonymous">
        <link href="/css/general.css" rel="stylesheet" type="text/css">
        <style>
            :host {
                display: block;
            }
        </style>
        <div class="container">
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <button class="btn btn-outline-info" on-click="obtenerTipoCambio" type="button" name="button">
                        Tipo de cambio
                    </button>
                </div>
            </div>
            <div class="d-flex flex-row-reverse">
                <div class="p-2 border bg-light mb-5">Tipo de Cambio: [[tipoCambio]]</div>
                <div class="p-2 border bg-light mb-5">Fecha: [[fechaCambio]]</div>
            </div>
        </div>

        <iron-ajax
                id="doTipoCambio"
                url="http://localhost:2020/TipoCambio"
                content-type="application/json"
                crossDomain:true
                dataType:'jsonp'
        method="POST"
        loading="{{cargando}}"
        handle-as="json"
        headers="Access-Control-Allow-Headers: *"
        on-response="manageAJAXResponseTipoCambio"
        on-error="showErrorTipoCambio">
        </iron-ajax>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class TipoCambio extends Polymer.Element {

            static get is() {
                return 'tipo-cambio';
            }
            static get properties() {
                return {
                    logado:{
                        type: Boolean,
                        value:false,
                        notify: true
                    },
                    tipoCambio: {
                        type: Number,
                        notify: true,
                    },
                    fechaCambio: {
                        type: String,
                        notify:true,
                        value: ''
                    }
                };
            }
            obtenerTipoCambio() {
                var data = {};
                this.$.doTipoCambio.body = JSON.stringify(data);
                this.$.doTipoCambio.generateRequest();
            }
            manageAJAXResponseTipoCambio(data) {
                console.log("Respuesta recibida del servidor")
                console.log(data.detail.response.bmx.series[0].datos[0].dato)
                this.tipoCambio = data.detail.response.bmx.series[0].datos[0].dato
                this.fechaCambio = data.detail.response.bmx.series[0].datos[0].fecha
            }
            showErrorTipoCambio(error) {
                alert('Ocurrio un error en el servicio')
            }
        }
        window.customElements.define(TipoCambio.is, TipoCambio);
    </script>
</dom-module>

