<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/titanium-currency/titanium-currency.html">
Access-Control-Allow-Origin: *
<dom-module id="alta-usuario">
    <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
              crossorigin="anonymous">
        <link href="/css/general.css" rel="stylesheet" type="text/css">
        <style>
            :host {
                display: block;
            }
        </style>
        <div class="container" hidden$={{!registrar}}>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card" style="width: 30rem;" >
                        <img class="card-img-top" src="/img/accreditation.png" alt="Card image cap">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <h3> Alta de Cliente</h3>
                            </div>

                        <div class="row mt-10">
                            <div class="col" >
                                <label for="inputNombre">Nombre</label>
                                <input type="text" class="form-control" value="{{nombre::input}}" id="inputNombre"
                                       aria-describedby="nombreHelp" placeholder="Ingrese su Nombre" required>
                            </div>
                            <div class="col" >
                                <label for="inputApPaterno">Apellido Materno</label>
                                <input type="text" class="form-control" value="{{aPaterno::input}}" id="inputApPaterno"
                                       aria-describedby="apPaternoHelp" placeholder="Ingrese su Apellido Paterno">
                            </div>
                        </div>
                        <div class="row mt-10">
                            <div class="col">
                                <label for="inputApMaterno">Apellido Materno</label>
                                <input type="text" class="form-control" value="{{aMaterno::input}}" id="inputApMaterno"
                                       aria-describedby="apMaternoHelp" placeholder="Ingrese su Apellido Materno">
                            </div>
                            <div class="col" >
                                <label for="altaInputMail">Email</label>
                                <input type="email" class="form-control" value="{{email::input}}" id="altaInputMail" name="altaInputMail"
                                       aria-describedby="emailHelp" placeholder="Ingrese su email" required>
                            </div>
                        </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" value="{{password::input}}" id="exampleInputPassword1" placeholder="Ingrese su password">
                            </div>
                            <div class="row">
                                <button class="btn btn-primary btn-lg btn-block" on-click="altaUsuario" type="button" name="button">Registrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <iron-ajax
                id="doRegistro"
                url="http://localhost:2020/AltaUsuario"
                content-type="application/json"
                crossDomain:true
                dataType:'jsonp'
        method="POST"
        loading="{{cargando}}"
        handle-as="json"
        headers="Access-Control-Allow-Headers: *"
        on-response="manageAJAXResponseAltaUser"
        on-error="showErrorAltaUser">
        </iron-ajax>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class AltaUsuario extends Polymer.Element {

            static get is() {
                return 'alta-usuario';
            }
            static get properties() {
                return {
                    cliente: {
                        type: Object,
                        notify: true
                    },
                    nombre:{
                        type: String
                    },
                    aPaterno:{
                        type:String
                    },
                    aMaterno:{
                        type:String
                    },
                    email:{
                        type:String
                    },
                    password:{
                        type:String
                    },
                    numId:{
                        type: Number,
                        value:1,
                        notify: true
                    },
                    loading: {
                        type: Boolean,
                        readOnly: true,
                        notify: true,
                        value: false
                    },
                    registrar:{
                        type: Boolean,
                        notify: true
                    },
                    login:{
                        type:Boolean,
                        value:true,
                        notify:true
                    }
                };
            }
            altaUsuario() {
                var clienteData = {
                    "nombre": this.nombre,
                    "apellidoPaterno":this.aPaterno,
                    "apellidoMaterno":this.aMaterno,
                    "email":this.email,
                    "password":this.password
                };
                //console.log(loginData);
                this.$.doRegistro.body = JSON.stringify(clienteData);
                this.$.doRegistro.generateRequest();
                console.log("Petición alta cliente enviada");

            }
            manageAJAXResponseAltaUser(data) {
                console.log("Respuesta recibida del servidor")
                console.log(data.detail.response)
                this.registrar = false
                this.login = false
                this.cliente = data.detail.response
                this.numId = this.cliente.codCliente
                alert("El usuario se dio de alta correctamente");
            }
            showErrorAltaUser(error) {
                console.log("Ocurrio un error");
                alert("Datos ingresados incorrectos, por favor valide");
                console.log(error);
            }
        }
        window.customElements.define(AltaUsuario.is, AltaUsuario);
    </script>
</dom-module>
