<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
Access-Control-Allow-Origin: *
<dom-module id="confirma-elimina-movimiento">
    <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
              crossorigin="anonymous">
        <style>
            :host {
                display: block;
            }
        </style>
        <paper-dialog id="dialog">
            <paper-input id="input"></paper-input>
        </paper-dialog>
    </template>
    <script>
        /**
         * @customElement
         * @polymer
         * /
         <iron-ajax
         url="http://localhost:3000/Movimientos"
         id="doMov"
         content-type="application/json"
         crossDomain:true
         dataType:'jsonp'
         method="POST"
         loading="{{cargando}}"
         handle-as="json"
         headers="Access-Control-Allow-Headers: *"
         on-response="manageAJAXResponse"
         on-error="showError">
         </iron-ajax>

    </script>
</dom-module>
