<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://image.flaticon.com/icons/svg/3105/3105142.svg" whith="60px" height="60px" alt="">
      </div>
      <div class="row">
        <!-on-click="incrementar"-->
        <button on-click="incrementar" type="button" name="button" class="btn btn-success">Cargar datos</button>
        <!-Envio de datos bidireccional, hacia desde la vista, hasta el modelo(value="{{prop1::input}}") -->
        <input type="text" name="" value="{{prop1::input}}">
        <!-Envio de datos unidireccional, solo hacia el modelo (value="[[prop1]]") -->
        <input type="text" name="" value="[[prop1]]">
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <th>ID</th>
            <th>Nombre:</th>
            <th>Apellido:</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>Selena</td>
              <td>Mora</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Alejandro</td>
              <td>Magno</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'login-app',
          },
          prop2: {
            type:Number,
            value:999
          }
        };
      }
      incrementar(){
        this.prop2 += 1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
