<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="input-three-app">
    <template>
        <p>Mensaje 3...[[mensaje]]</p>
    </template>
    <script>
        class InputThreeApp extends Polymer.Element {
            static get is() {
                return 'input-three-app';
            }
            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    mensaje: {
                        type: String,
                        value: ''
                    }
                };
            }
        }
        window.customElements.define(InputThreeApp.is, InputThreeApp);
    </script>
</dom-module>